@font-face {
    font-family: "almoni";
    src: url("/fonts/almoni-dl-aaa-light.otf") format("openType");
    font-weight: 300;
    font-display: swap;
}
@font-face {
    font-family: "almoni";
    src: url("/fonts/almoni-dl-aaa-regular.otf") format("openType");
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: "almoni";
    src: url("/fonts/almoni-dl-aaa-bold.otf") format("openType");
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: "almoni";
    src: url("/fonts/almoni-dl-aaa-black.otf") format("openType");
    font-weight: 900;
    font-display: swap;
}