@import 'mixins.scss';
.sectionFooter{
    margin: toRem(40) 0;
    .sectionInner{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .sectionFooter_firstLine{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: toRem(30);
        width: 100%;
        .footerImg{
            margin-bottom: toRem(40);
            width: toRem(583);
            height: toRem(88);
            object-fit: cover;
        }
        .footerText{
            @include AlmoniRegular(16);
            color: #5A5A5A;

        }
    }
    .sectionFooter_secondLine{
        width: 100%;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .realmediaLogo{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            .logoImg{
                width: toRem(90);
                height: toRem(20);
                object-fit: cover
            }
            .logoText{
                @include AlmoniLight(15);
                color: #00549B;
                &::after{
                    content: "";
                    border: none;
                    border-left: 1px solid #00549B;
                    margin: 0 toRem(10);
                }
            }
        }
        .copyright{
            @include AlmoniRegular(18);
                color: #00549B;
        }
    }
}