// @import 'normolize.scss';
// @import 'fonts.scss';
// @import 'mixins.scss';
// @import 'general.scss';
// @import 'sectionSearchForm.scss';
// @import 'sectionFirstTable.scss';
// @import 'sectionSecondTable.scss';
// @import 'sectionVideo.scss';
// @import 'sectionAccordeon.scss';
// @import 'sectionFooter.scss';
@import 'media.scss'; 


