@import 'mixins.scss';
.sectionDescription{
    height: toRem(844);
    margin-bottom: toRem(60);
    
    .sectionInner{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        
    }
    .descriptionText{
        @include IBMPlexExtraLight(20);
        letter-spacing: 0.1em;
        padding: toRem(204) toRem(135) toRem(198) toRem(134);
        width: toRem(800);
        height: toRem(844);
        background-color: #F3F3F3;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        order: 1;
        p{  
            margin-bottom: toRem(40);
        }
    }
    .descriptionImg{
        object-fit: cover;
        width: toRem(811);
        height: toRem(844);
    }
}