@font-face {
    font-family: "IBMPlex";
    src: url("/fonts/otf/IBMPlexSansHebrew-Light.otf") format("openType");
    font-weight: 300;
    font-display: swap;
}
@font-face {
    font-family: "IBMPlex";
    src: url("/fonts/otf/IBMPlexSansHebrew-ExtraLight.otf") format("openType");
    font-weight: 100;
    font-display: swap;
}