@function toRem($value) {
    $remValue: ($value / 16) + rem; 
    @return $remValue;
}

@mixin IBMPlexLight($size_px) {
    font-family: "IBMPlex";
    font-weight: 300;
    font-size: toRem($size_px);
}
@mixin IBMPlexExtraLight($size_px) {
    font-family: "IBMPlex";
    font-weight: 100;
    font-size: toRem($size_px);
}