@import 'mixins.scss';
.mobMenu{
    width: 100%;
    height: toRem(70);
    background: #474849;
    padding: toRem(20);
    position: sticky;
    top:0;
    z-index: 100;
    display: none;
    align-items: center;
    justify-content: center;
    .burger{
        margin-top: toRem(20);
        width: toRem(100);
        height: auto;
        border: none;
    }
    .burger-menu_button {
        position: absolute;
        top: toRem(15);
        right: toRem(35);
        z-index: 100;
        width: toRem(40);
        height: toRem(40);
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.3);
        -webkit-transition: 0.4s;
        -moz-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;
        &_active{
            right: toRem(75);
        }
      }
      .burger-menu_button:hover .burger-menu_lines {
        filter: brightness(0.7);
      }
      .burger-menu_button:hover {
        background-color: rgba(0, 0, 0, 0.7);
      }
      .burger-menu_lines::before,
      .burger-menu_lines::after,
      .burger-menu_lines {
        position: absolute;
        width: toRem(20);
        height: toRem(2);
        background-color: #ffffff;
        -webkit-transition: 0.4s;
        -moz-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;
      }
      .burger-menu_lines {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .burger-menu_lines::before {
        content: '';
        top: toRem(-6);
      }
      .burger-menu_lines::after {
        content: '';
        top: toRem(6);
      }
      .burger-menu_active .burger-menu_lines {
        background-color: transparent;
      }
      .burger-menu_active .burger-menu_lines::before {
        top: 0;
        transform: rotate(45deg);
      }
      .burger-menu_active .burger-menu_lines::after{
        top: 0;
        transform: rotate(-45deg);
      }
      
      .burger-menu_nav {
        padding-top: toRem(180);
        position: fixed;
        top: 0;
        z-index: 70;
        display: flex;
        flex-flow: column;
        height: 100%;
        background-color: #474849;
        overflow-y: auto;
        right: -100%;
        -webkit-transition: 0.8s;
        -moz-transition: 0.8s;
        -o-transition: 0.8s;
        transition: 0.8s;
      }
      .burger-menu_active .burger-menu_nav {
        right: 0;
        -webkit-transition: 0.4s;
        -moz-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;
      }
      .burger-menu_link {
        @include IBMPlexExtraLight(18);
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        color: #ffffff;
        border-bottom: 1px solid #fff;
        width: toRem(200);
        height: toRem(50);
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .burger-menu_link:first-child {
        border-top: 1px solid #fff;
      }
      .burger-menu_link:hover {
        filter: brightness(0.9);
      }
      .burger-menu_overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 50;
      }
      .burger-menu_active .burger-menu_overlay {
        display: block;
        background-color: rgba(0, 0, 0, 0.5);
      }
    .logo{
        text-align: center;
        .logoImg{
            height: toRem(40) ;
        }
    }
}
