/*
----------------------------
Contact us
-----------------------------
*/
.contact-us {
    background-color: #fff;
    padding         : toRem(40) 0;
    border          : none;
    border-bottom   : 1px solid rgba(0, 0, 0, 0.2);

    .sectionInner {
        display        : flex;
        flex-direction : row;
        align-items    : flex-start;
        justify-content: flex-start;
    }

    .cuppleImg {
        width      : toRem(604);
        height     : toRem(476);
        background : transparent url(../img/cuppleBG.png) 50% 50%/cover no-repeat;
        margin: 0 0 0 toRem(20);
    }

    .contact-us_form {
        display           : flex;
        flex-direction    : column;
        align-items       : flex-start;
        justify-content   : flex-start;
        // height         : toRem(458);
        width             : toRem(418);
        border            : none;
        border-left       : 1px solid #e1e1e1;
        padding     : 0 0 0 toRem(20);
        margin            : 0 0 0 toRem(20);

        @include AlmoniNormal(20);

        h2 {
            @include AlmoniBold(32);
            margin: 0 0 toRem(20) 0;
        }

        label {
            width         : 100%;
            display       : flex;
            flex-direction: column;
            align-items   : flex-start;
            margin        : 0 0 toRem(20) 0;


            input,
            textarea {
                box-sizing: border-box;
                width     : 100%;
                font-family: "Almoni",sans-serif; 
                @include AlmoniNormal(16);
                padding      : toRem(5);
                border       : 1px solid #e1e1e1;
                outline      : none;
                border-radius: 0;
                margin   : toRem(5) 0 0 0;
            }

            textarea {
                padding: toRem(5) toRem(5) 0 toRem(5);
                resize        : none;
                width         : 100%;
                height        : toRem(112);
            }
        }

        .btn {
            width : 100%;
            height: toRem(48);
            position: relative;
            svg{
                margin: 0 toRem(20) 0 0 ;
            }
        }
    }

    .contacts {
        color: $primaryColorText;

        h2 {
            @include AlmoniBold(32);
            border          : none;
            border-bottom   : 1px solid rgba(255, 255, 255, 0.1);
            width           : 100%;
            // height       : toRem(33);
            margin   : 0 0 toRem(20) 0;

        }

        li {
            @include AlmoniNormal(16);
            display        : flex;
            flex-direction : row;
            align-items    : baseline;
            justify-content: flex-start;
            line-height    : 1.5;

            &:nth-child(1) {
                a {
                    color      : inherit;
                    font-family: inherit;
                }

                i {
                    margin: 0 0 0 toRem(10);
                    font-size  : 15px;
                    color      : $secondaryColor;
                }
            }

            &:nth-child(2) {
                a {
                    color      : inherit;
                    font-family: inherit;
                }

                i {
                    margin: 0 0 0 toRem(10);
                    font-size  : toRem(15);
                    color      : $secondaryColor;
                }
            }

            &:nth-child(3) {
                a {
                    color      : inherit;
                    font-family: inherit;
                }

                i {
                    margin: 0 0 0 toRem(10);
                    font-size  : toRem(15);
                    color      : $secondaryColor;
                }
            }

            &:nth-child(4) {
                .textTitle {
                    display: block;
                    @include AlmoniBold(20);
                }

                a {
                    color      : inherit;
                    font-family: inherit;
                }

                i {
                    margin: 0 0 0 toRem(10);
                    font-size  : toRem(15);
                    color      : $secondaryColor;
                }
            }

            &:nth-child(5) {

                i {
                    margin: 0 0 0 toRem(10);
                    font-size  : toRem(15);
                    color      : $secondaryColor;
                }

                a {
                    color      : inherit;
                    font-family: inherit;
                }

                .textTitle {
                    color  : inherit;
                    display: block;
                    @include AlmoniBold(20);
                }
            }
        }
    }
}