@font-face {
    font-family: "Raleway";
        src: url('../fonts/Raleway-Regular.eot') format('embedded-opentype'), /* IE6-IE8 */ 
             url('../fonts/Raleway-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
             url('../fonts/Raleway-Regular.woff') format('woff'), /* Pretty Modern Browsers */
             url('../fonts/Raleway-Regular.woff2') format('woff2'); /* Super Modern Browsers */
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: "Raleway";
        src: url('../fonts/Raleway-Medium.eot') format('embedded-opentype'), /* IE6-IE8 */ 
             url('../fonts/Raleway-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
             url('../fonts/Raleway-Medium.woff') format('woff'), /* Pretty Modern Browsers */
             url('../fonts/Raleway-Medium.woff2') format('woff2'); /* Super Modern Browsers */
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: "Raleway";
        src: url('../fonts/Raleway-SemiBold.eot') format('embedded-opentype'), /* IE6-IE8 */ 
             url('../fonts/Raleway-SemiBold.ttf')  format('truetype'), /* Safari, Android, iOS */
             url('../fonts/Raleway-SemiBold.woff') format('woff'), /* Pretty Modern Browsers */
             url('../fonts/Raleway-SemiBold.woff2') format('woff2'); /* Super Modern Browsers */
    font-weight: 600;
    font-display: swap;
}
@font-face {
    font-family: "Raleway";
        src: url('../fonts/Raleway-Bold.eot') format('embedded-opentype'), /* IE6-IE8 */ 
             url('../fonts/Raleway-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
             url('../fonts/Raleway-Bold.woff') format('woff'), /* Pretty Modern Browsers */
             url('../fonts/Raleway-Bold.woff2') format('woff2'); /* Super Modern Browsers */
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: "Raleway";
        src: url('../fonts/Raleway-ExtraBold.eot') format('embedded-opentype'), /* IE6-IE8 */ 
             url('../fonts/Raleway-ExtraBold.ttf')  format('truetype'), /* Safari, Android, iOS */
             url('../fonts/Raleway-ExtraBold.woff') format('woff'), /* Pretty Modern Browsers */
             url('../fonts/Raleway-ExtraBold.woff2') format('woff2'); /* Super Modern Browsers */
    font-weight: 800;
    font-display: swap;
}
@font-face {
    font-family: "Raleway";
        src: url('../fonts/Raleway-Black.eot') format('embedded-opentype'), /* IE6-IE8 */ 
             url('../fonts/Raleway-Black.ttf')  format('truetype'), /* Safari, Android, iOS */
             url('../fonts/Raleway-Black.woff') format('woff'), /* Pretty Modern Browsers */
             url('../fonts/Raleway-Black.woff2') format('woff2'); /* Super Modern Browsers */
    font-weight: 900;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
        src: url('../fonts/Roboto-Light.eot') format('embedded-opentype'), /* IE6-IE8 */ 
             url('../fonts/Roboto-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
             url('../fonts/Roboto-Light.woff') format('woff'), /* Pretty Modern Browsers */
             url('../fonts/Roboto-Light.woff2') format('woff2'); /* Super Modern Browsers */
    font-weight: 200;
    font-display: swap;
}
@font-face {
    font-family: "Roboto";
        src: url('../fonts/Roboto-Regular.eot') format('embedded-opentype'), /* IE6-IE8 */ 
             url('../fonts/Roboto-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
             url('../fonts/Roboto-Regular.woff') format('woff'), /* Pretty Modern Browsers */
             url('../fonts/Roboto-Regular.woff2') format('woff2'); /* Super Modern Browsers */
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: "Roboto";
        src: url('../fonts/Roboto-Medium.eot') format('embedded-opentype'), /* IE6-IE8 */ 
             url('../fonts/Roboto-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
             url('../fonts/Roboto-Medium.woff') format('woff'), /* Pretty Modern Browsers */
             url('../fonts/Roboto-Medium.woff2') format('woff2'); /* Super Modern Browsers */
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: "Roboto";
        src: url('../fonts/Roboto-Bold.eot') format('embedded-opentype'), /* IE6-IE8 */ 
             url('../fonts/Roboto-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
             url('../fonts/Roboto-Bold.woff') format('woff'), /* Pretty Modern Browsers */
             url('../fonts/Roboto-Bold.woff2') format('woff2'); /* Super Modern Browsers */
    font-weight: 700;
    font-display: swap;
}

