@import 'color.scss';
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    -webkit-appearance: none;
}
body{
    background-color: #F7F9FC;
}
.sectionInner{
    margin: 0 auto;
    width: toRem(1180);
}
.btn{
    width: toRem(320);
    height: toRem(40);
    background-color: $primary-color;
    color: $secondary-text-color;
    @include RobotoMedium(18);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;

    &:hover{
        background-color: darken($primary-color, 4);
    }
    &:active{
        background-color: $primary-color;
    }
}
.social{
    &-item{
        img{
        }
    }
}
._margin20{
    margin-right: toRem(20);
}
._margin23{
    margin-right: toRem(23);
}
._wh36{
    width: toRem(36);
    height: toRem(36);
}
    ._wh28{
    width: toRem(28);
    height: toRem(28);
}
._wh24{
    width: toRem(24);
    height: toRem(24);
}