.sectionForm{
    height: toRem(400);
    color: #fffFFF;
    background: url("../img//png/formBg.png") no-repeat 50% 50%;
    background-size: cover;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        z-index: 5;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5); 
    }
    .sectionInner{
        height: 100%;
        position: relative;
        z-index: 10;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }
    &_text{
        width: toRem(540);
        &-title{
            width: 70%;
            @include RalewayBold(36);
            color: $secondary-text-color;
            margin-bottom: toRem(20);
        }
        &-list{
            @include RalewayMedium(18);
            color: $secondary-text-color;
            li{
                margin: 0;
                padding: 0;
                margin-bottom: toRem(10);
                                
            }
        }
    }
    &_form{
        width: toRem(360);
        height: toRem(260);
        padding: toRem(30);
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
      
        &-tel{
            @include RalewayMedium(18);
            width: 100%;
            border: none;
            outline: none;
            color: $primary-color;
            border-bottom: 2px solid $primary-color;
        }
        &-text{
            @include RalewayMedium(18);
            color: $primary-color;
        }
        .btn{
            width: 100%;
        }
    }
}