.siteImgBord{
    display: flex;
    flex-wrap: wrap;
    width: 1024px;
    margin: 0 auto;
}
.siteImgBord a{
    margin-right: 20px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}