@function toRem($value) {
    // $remValue: ($value / 16) + rem; 
    $remValue: $value + px; 
    @return $remValue;
}

@mixin IBMPlexLight($size_px) {
    font-family: "IBMPlex",sans-serif;
    font-weight: 300;
    font-size: toRem($size_px);
}
@mixin IBMPlexRegular($size_px) {
    font-family: "IBMPlex",sans-serif;
    font-weight: 500;
    font-size: toRem($size_px);
}
@mixin IBMPlexBold($size_px) {
    font-family: "IBMPlex",sans-serif;
    font-weight: 700;
    font-size: toRem($size_px);
}
@mixin IBMPlexText($size_px) {
    font-family: "IBMPlexText",sans-serif;
    font-size: toRem($size_px);
}
@mixin AlmoniLight($size_px) {
    font-family: "Almoni",sans-serif;
    font-weight: 300;
    font-size: toRem($size_px);
}
@mixin AlmoniRegular($size_px) {
    font-family: "Almoni",sans-serif;
    font-weight: 500;
    font-size: toRem($size_px);
}
@mixin AlmoniBold($size_px) {
    font-family: "Almoni",sans-serif;
    font-weight: 700;
    font-size: toRem($size_px);
}