body {
  font-family: "Roboto Mono", monospace;
  margin: 10px;
  position: relative;
}

.pokebol {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-image: url("../assets/Poke_Ball.png");
  background-size: contain;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  width: 400px;
  min-height: 400px;
  background-color: lemonchiffon;
  display: flex;
  flex-wrap: wrap;
  border: 20px solid orange;
  border-radius: 10px;
  margin: 10px;
}
.image > img {
  width: 120px;
  height: 120px;
  margin: 10px;
  border: 10px solid grey;
  border-radius: 10px;
}
.properties {
  flex: 1;
  margin: 10px;
}
.description {
  margin: 10px;
  flex-basis: 100%;
}
.searchWrapper {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  background-color: lemonchiffon;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
}
.searchWrapper input {
  border-radius: 5px;
  width: 80%;
  height: 30px;
}
.searchWrapper button {
  width: 30px;
  height: 30px;
  position: static;
  border-radius: 5px;
  background-image: url("../assets/search.svg");
}
.welcome-msg {
  display: inline-block;
  width: 100%;
  text-align: center;
}
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal_content {
  position: relative;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 200px;
  height: 250px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0px 0px 10px 8px rgba(34, 60, 80, 0.17) inset,
    0px 0px 10px 8px rgba(34, 60, 80, 0.17);
}
.modal_content h3 {
  text-align: center;
}
.close {
  position: absolute;
  top: 5px;
  right: 20px;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}
.submitBtn {
  border-radius: 12px;
  border: 1px solid gray;
  outline: none;
  height: 20px;
  width: 40px;
}
